<div class="page-header">
  <h3>Category #<%= @category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @category.name %></dd>

      <dt>User</dt>
      <dd>
        <% if @category.user.present? %>
          <a href="/users/<%= @category.user_id %>">
            <%= @category.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/categories" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @category.user %>
        <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Category has many tasks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tasks
      </li>

      <% @category.tasks.each do |task| %>
        <li class="list-group-item">
          <a href="/tasks/<%= task.id %>">
            <%= task.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tasks/<%= task.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tasks/<%= task.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_task/<%= task.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_task" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for deadline -->
      <div class="form-group">
        <label for="deadline" class="control-label">
          Deadline
        </label>

        <input type="text" id="deadline" name="deadline" placeholder="Deadline" class="form-control" value="">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for category_id -->
      <input type="hidden" name="category_id" value="<%= @category.id %>">

      <button class="btn btn-block btn-success">
        Create Task
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
